.Datos{
    justify-content: center;
    text-align: left;
    
}

.Titulos{
    justify-content: center;
    text-align: center;
}

.contenedor p{

    margin-top: 30px;
    margin-left: 0%x;
    font-size: 20px;
    display: flex;
    
}

